.header {
  top: 0;
  z-index: 2;
  width: 100%;
  height: 80px;
  display: flex;
  position: sticky;
  align-items: center;
  transform: translateZ(0);
  backdrop-filter: saturate(180%) blur(5px);
  background: rgba(var(--header-background-rgba));
  border-bottom: 1px solid rgba(var(--border-rgba));
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.ul {
  width: 100%;
  padding: 0 25px;
  list-style: none;
  display: flex;
}

.li {
  margin-left: 25px;
  color: rgb(var(--foreground-secondary-rgba));

  a {
    color: inherit;
  }

  &:first-child {
    margin-left: 0;
    margin-right: 35px;
    pointer-events: none;
  }

  &:last-child {
    margin-left: auto;
  }

  &:hover:not(.active) {
    color: rgb(var(--foreground-rgba));
  }

  @media (max-width: 767.98px) {
    margin-left: calc(25px / 2);

    &:first-child {
      margin-right: calc(35px / 2);
    }
  }

  @media (max-width: 430px) {
    &:first-child {
      display: none;
      margin-right: calc(35px / 3);
    }
  }
}

.active {
  font-weight: 500;
  color: rgb(var(--accent-rgb));
}
